.dropdown-container ul li {
    padding-bottom: .7rem;
}

.dropdown-container ul li:hover {
    background: #6bd1a2;
}

.dropdown-container::-webkit-scrollbar {
    width: 10px !important;
    /* background: #000; */
    /* z-index: -1; */
}

.dropdown-container::-webkit-scrollbar-thumb {
    background: #ccc !important;
    /* width: 10px; */
        /* z-index: -1; */
}